body{
  background-color: white;s

}

.page{
  display:flex;
  width: 1920px;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.title{
  position: absolute;
  width: 50%;
  height: auto;
}

.sticker{
 position: absolute;
 width: 15%;
 height: auto;
 left: 50%;
 margin-top: 3%;
}

.armbolt{
  position: absolute;
  width:70%;
  height: auto;
  left: 30%;
  z-index: -1;
}

.video_one{
  position: absolute;
  width:70%;
  height: auto;
  left: 30%;
  z-index: -1;
}
